<div *ngIf="node">
    <form [formGroup]="myForm" (ngSubmit)="save(myForm)">

      <!-- node id -->
    <div class="form-group">
      <label for="inputId">Id</label>
      <input type="text" class="form-control" id="inputId" formControlName="id" value="{{node.id}}">
    </div>

    <!-- list of pois -->
    <div class="form-group">
      <label>Points of interest</label>
      <div formArrayName="pois">
          <div *ngFor="let poi of myForm.controls.pois.controls; let i=index">
              <!-- address header, show remove button when more than one address available -->
              <div>
                  <span *ngIf="myForm.controls.pois.controls.length > 1"
                      (click)="removeStore(i)">
                  </span>
              </div>
              <div [formGroupName]="i">
                <select formControlName="id" class="form-control">
                  <option *ngFor="let p of pois" [ngValue]="p._id" [selected]="poi._value.storedId==p.poi ? true : null" >{{p.poi}}</option>
                </select>
              </div>
          </div>
      </div>
    </div>
    <div>
          <a (click)="addStore()" style="cursor: default">
            Add another store +
          </a>
        </div>
        <!-- beacon -->
        <div class="form-group">
          <label>Beacon</label>
          <select formControlName="beacon" class="form-control">
            <option *ngFor="let b of beacons" [ngValue]="b._id" [selected]="node.beacon==b._id ? true : null" >{{b.name}}</option>
          </select>
        </div>
        <br/>
    <button type="submit" class="btn btn-danger">Save node</button>
    </form>
</div>
<div *ngIf="!node">
Please select a node
</div>
  <!--<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <ba-checkbox [(ngModel)]="isChecked" [label]="'Check me out'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>-->
